       {{>d_left_section}}
       <section class="column right">
        {{#if error}}
          <p class="error">{{error}}</p>
        {{/if}}
        <form action="/dashboart/user/{{user.id}}/collections/add" method="post">
        <div class="field">
          <label class="label">Collection name</label>
          <div class="control">
            <input class="input" type="text" placeholder="User name" name="collection">
          </div>
        </div>
        <div class="column add_button is-flex is-align-items-center"><button class="button add_button_link is-info ">Add</a></div>
      </form>
      </section>