      <form action="/login" class="form flex" method="post">
      {{#if success}}
          <p class="success">{{success}}</p>
      {{/if}}
    {{#if errors }}
        {{#each errors }}
        <p class="error">{{ this.msg }}</p>
        {{/each}}
      {{/if}}
        <h2 class="form__header">Вход</h2>
        <input type="text" name="email" class="form__email" placeholder="Email" aria-label="Email">
        <input type="password" placeholder="Send your password here" name="password" id="password" class="form__password"  aria-label="Password">
        <button type="submit" class="form__submit">Войти</button>
      </form>