				<div class="personal_auth">
					<div class="personal__user-name user-name ">
						<img src="assets/img/manikin-icon.svg" alt="">
						<span class="user-name__text text">Имя пользователя</span>
					</div>
				</div>
