				<!-- Не авторизованный -->
				<div class="personal_no-auth">

					<div class="personal__sign-up sign-up">
						<img src="assets/img/manikin-icon.svg" alt="" class="sign-up__icon">
						<a href="/dashboart/user/{{user.id}}" class="sign-up__link text">{{user.login}}</a>
					</div>

					<div class="personal__sign-in sign-in">
						<a href="/logout" class="sign-in__link text">Выход</a>
						<img src="assets/img/sign-in-button-icon.svg" alt="" class="sign-in__icon">
					</div>
				</div>