      <section class="column left is-3">
        <ul class="left_menu">
          <li class="left_menu-item"><i class="fa-solid fa-lock"></i><a href="/dashboart/user/{{user.id}}" class="left_menu-link">Logins</a></li>
          <li class="left_menu-item"><i class="fa-solid fa-user"></i><a href="" class="left_menu-link">Personal info</a></li>
          <li class="left_menu-item"><a href="/dashboart/user/{{user.id}}/collections/add" class="left_menu-link">Collection + </a></li>
        </ul>
      </section>