			<!-- Блок лого -->
			<div class="logo">
				<a href="/" class="logo__link">
					<img src="assets/img/logo-icon.svg" alt="" class="logo__icon">
					<span class="logo__text">I want to keep your secret</span>
				</a>
			</div>