			<!-- Здесь рассаказываем какой пароль надежный -->
			<div class="explain split-right__explain">
				<h2 class="explatin__title text">Какой пароль считается надежным</h2>
				<ul class="explain__list">
					<li class="explain__item">
						<img src="assets/img/unique-icon.svg" alt="">
						<span class="explain__text text">Уникальный</span>
					</li>
					<li class="explain__item">
						<img src="assets/img/complex-icon.svg" alt="">
						<span class="explain__text text">Сложный</span>
					</li>
					<li class="explain__item">
						<img src="assets/img/long-icon.svg" alt="">
						<span class="explain__text text">Длинный</span>
					</li>
				</ul>

			</div>