		<!-- По клику на логин в правом верхнем углу
		появляется это модальное окно -->
		<div x-show="open" @click.outside="open = false" x-transition class="modal-personal">
			<table class="modal-personal__table">
				<template x-if="errors" >
				<p x-text="message.error"  x-cloak :class="errors ? 'error' : '' " ></p>
				</template>
				<p x-text="message.success"  x-cloak :class="success ? 'success' : '' " ></p>
				<!-- В таблице три части с данными пользователя -->
				<caption @click="getUserData({{ user.id }})" class="modal-personal__user-name user-name" style="padding: 5px; margin-bottom: 5px;cursor: pointer; border: 1px solid #124124">Click to get data</caption>

				<!-- Заголовок -->
				<tr class="modal-personal__login-row row-height">
					<th>Login</th>
			  	</tr>
			  	<tr>
					<!-- Сами данные -->
					<td class="user-name"><input :readonly="edit.login" type="text" x-model="form.login" ></td>
					<!-- Кнопка-иконка которая должна как-то поменять -->
					<td>
						<button @click="edit.login=false"  class="user-name__change-button">
							<img src="/assets/img/change-icon.svg" alt="">
						</button>
					</td>
			  	</tr>
			  	<tr class="modal-personal__email-row row-height">
					<th>Email</th>
			  	</tr>
			  	<tr>
					<td class="user-mail"><input x-model="form.email" :readonly="edit.email" type="email" value="Vasya Pupkin@gmail.com" name="user_email" ></td>
					<td>
						<button  @click="edit.email=false" class="user-mail__change-button">
							<img src="/assets/img/change-icon.svg" alt="">
						</button>
					</td>
			  	</tr>

			  	<tr class="modal-personal__password-row row-height">
					<th>New password</th> 
			  	</tr>

				<tr>
					<td class="user-password"><input x-model="form.password" :readonly="edit.password" type="text" value="*************" name="user_password"></td>
					<td>
						<button  @click="edit.password=false"  title="Click me to generate password" class="user-password__change-button">
							<img src="/assets/img/change-icon.svg" alt="">
						</button>
					</td>
			  	</tr>

			</table>

			<!-- Кнопка подтверждающая изменения в данных -->
			<button @click="setUserData({{ user.id }})" class="modal-personal__change-button">
				Обновить
			</button>

		</div>