			<!-- Блок персонализации, два состояния:
			пользователь не авторизовался и
			пользователь авторизовался -->
			<div class="personal">
        {{#if user}}
          {{>autorise}}

				<!-- Ниже авторизованный -->
        {{else}}
          {{>notautorise}}
        {{/if}}
			</div>