.button-div__btn {
  padding: 10px 24px;
  cursor: pointer;
  width: 15%;

  vertical-align: center;
  text-align: center;
  color: #FCFCFC;

  background: #0A40FF;
  border: 1px solid #0A40FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

button:active {
  transform: translateY(1px);
  filter: saturate(150%);
  background-color: #031f83;

}