@import url('./input-registration.css');
@import url('./text-registration.css');
@import url('./button-registration.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


body {
    background-color: #FFF9F5;
    font-family: 'Nunito', sans-serif;
}

.top,
.logo,
.login,
.greeting,
.entry,
.registration,
.button-div,
.footer {
    display: flex;
    justify-content: center;
}

.top {
    flex-direction: row;
    height: 20%;
}

.greeting {
    align-items: flex-end;
    flex: 1 1 0;
}

.logo {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 0;
    width: 0;
}

.entry {
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
    flex: 1 1 0;
    width: 0;

}

.entry__img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.logo__icon {
    margin-left: 30px;
}

.main {
    height: 75%;
}

.registration,
.login {
    flex-direction: column;
    align-items: center;
}

.button-div {
    height: 30%;
    align-items: center;

}

.footer {
    display: flex;
    align-items: flex-end;
    flex: 0 0 auto;
}

i {
    margin: 0 5px;
}