@import"https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap";*{margin:0;padding:0;box-sizing:border-box}body,html{background-color:#fff9f5;font-family:Nunito,sans-serif;height:100%}li{list-style-type:none}.flex{display:flex}.container{padding:0 70px;min-height:100%;max-width:2500px;margin:0 auto;min-height:screen;flex-direction:column}.header{margin-top:40px;justify-content:space-between}.logo{margin-left:24px}.logo__img{width:300px;height:150px}.welcome{align-self:flex-end;margin-left:213px;margin-right:217px}.welcome__site{font-size:40px}.user{margin:40px 20px 0 0}.user__menu{justify-content:space-between}.user__menu__item{font-size:22px}.user__menu__item:first-child{padding-right:26px}.user__menu__link{text-decoration:none;color:#171717}.user__menu__link:hover{text-decoration:underline}.content{flex:1 1 auto;margin-top:55px;text-align:center;justify-content:center;align-items:center}.form{flex-direction:column}.form__header{margin-bottom:45px;font-size:30px}.form__email,.form__login{margin-bottom:45px}.form__email,.form__password,.form__login{color:#938b8b;padding-left:47px;font-size:30px;width:600px;height:80px;border:1px solid #0A6AF9;border-radius:25px}.form__submit{width:330px;height:66px;border-radius:10px;background-color:#0a6af9;color:#fcfcfc;font-size:25px;margin:60px auto 0;border:none;cursor:pointer}.footer{margin-top:145px;justify-content:center;align-items:flex-end;color:#171717;font-size:22px;margin-bottom:45px}.error{background-color: hsl(348, 100%, 61%);padding: 1em;color:hsl(347, 90%, 96%); border-radius: 0.5em; margin-bottom: 1.75em;}
[class*="registration__input"],
[class*="login__input"] {
	box-sizing: border-box;
	padding: 10px 20px;
	display: block;
	font-size: 17px;
	width: 30%;
	background: white;
	margin: 20px auto;
	border: 1px solid #0A6AF9;
	border-radius: 25px;
	height: 50px;
}

::placeholder {
	opacity: 50%;
}

input:focus {
	border: 2px solid #0A6AF9;
	outline: #0A6AF9;
}
.error-border {
	border: 2px solid #FF0000;
}
[class*="-error-label"] {
	color:#FF0000;
}