<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/assets/styles/dashboard.css">
  <title>{{pageTitle}}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
  <div class="wrapper">
    {{>d_header}}
    <main class="columns main">
      {{{body}}}
    </main>
{{>d_footer}}
  </div>
  <script src="/assets/js/dropdown.js"></script>
</body>
</html>