<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- <link rel="stylesheet" href="./assets/styles/style.scss"> -->
  <title>{{ pageTitle }}</title>
  {{!-- <script type="module" crossorigin src="/assets/index-b19f2d4e.js"></script> --}}
  <link rel="stylesheet" href="/assets/styles/login.css">
  <script type="module" crossorigin src="/assets/js/validations/login-d7e2ddfd.js"></script>
  <script type="module" crossorigin src="/assets/js/validations/registration-6ce09f09.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/js/validations/modulepreload-polyfill-3cfb730f.js">
  <link rel="modulepreload" crossorigin href="/assets/js/validations/validation-b3345f32.js">

</head>
<body>
  <div class="container flex">
    {{> header }}
    <!-- main content -->
    <main class="content flex">
      {{{ body }}}
    </main>
    <!-- footer -->
    {{> footer }}
    
  </div>
  
</body>
</html>